<div id="dialog-login", title="Login user">
<h1>Log in</h1>
<%= form_for :session, url: login_path do |f| %>
	<%= render 'shared/flash_messages' %>
	<%= f.label :email %>
	<%= f.email_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit "Login" %>
<% end %>

<a href="/login_via_social_media" method="post" class="btn btn-block btn-social btn-facebook" title="facebook">
  <i class="fa fa-facebook"></i>
  Sign in with Facebook
</a>


New user? <%= link_to "Signup now", new_user_path %>
</div>

