<div class="dialog-login", title="Login user">

	<div class="row pad-10px">
		<div class="col-md-6 col-md-offset-3">
			<a href="/login_via_social_media" method="post" class="btn btn-block btn-social btn-facebook" title="facebook">
				<i class="fa fa-facebook"></i>
				Sign in with Facebook
			</a>
		</div>
	</div>

	<div class="row pad-10px">
		<div class="col-md-6 col-md-offset-3">
			<a href="/login_via_social_media" method="post" class="btn btn-block btn-social btn-google-plus" title="google">
				<i class="fa fa-google-plus"></i>
				Sign in with Google+
			</a>
		</div>
	</div>


	
	<div class="display-flex">
		<hr width="45%" align="left"><p class="or-separtor">or</p><hr width="45%" align="right">
	</div>

	<%= form_for :session, url: login_path do |f| %>
		<%= render 'shared/flash_messages' %>
		Email
		<%= f.email_field :email, class: "form-control" %><br/>
		Password
		<%= f.password_field :password, class: "form-control" %><br/>
		<%= f.submit "Login", class: "btn" %>
	<% end %>

	New user? <%= link_to "Signup now", new_user_path %>
</div>

