
<%= form_for([@post.user, @post], class: "post-form", name: "form_citydetails", id: "form_citydetails", enctype: "multipart/form-data" ) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, id: "f_elem_city", class: "ff_elem" %>
    <%= f.hidden_field :lat, id: "geobyteslatitude" %>
    <%= f.hidden_field :log, id: "geobyteslongitude" %>
    <br>Country: <br/>
    <input id="geobytescountry" readonly="readonly" size="30" value><br/>
    Region: <br/>
    <input id="geobytesregion" readonly="readonly" size="30" value><br/>
    City: <br/>
    <input id="geobytescity" readonly="readonly" size="30" value><br/>


  </div>
  <div class="field">
    <%= f.label :travel_date %><br>
    <%= f.date_select :travel_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

