
<%= form_for([@post.user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="field">
    Locations:
    <ul>
      <%= f.fields_for :locations do |locations_form| %>
        <li class="location-detail">
          <%= locations_form.text_field :location, id: "geocomplete", class: "form-control" %>
          <%= locations_form.hidden_field :lat, data: { geo: "lat" } %>
          <%= locations_form.hidden_field :lng, data: { geo: "lng" } %>
          <%= locations_form.text_field :city, data: { geo: "locality" }, class: "form-control", readonly: "readonly" %>
          <%= locations_form.text_field :country, data: { geo: "country" }, class: "form-control", readonly: "readonly" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= f.label :travel_date %><br>
    <%= f.date_select :travel_date, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

