<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %><br>
  Submited by: <%= @post.user.name %>

</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>locations:</strong>
  <% @post.locations.each do |location|%>
    <%= render "locations/show", location: location %>
  <% end %>
</p>

<p>
  <strong>Travel date:</strong>
  <%= @post.travel_date %>
</p>



<% if current_user %>
  <%= link_to 'Edit', edit_user_post_path(@post.user, @post) %> |
  <%= link_to 'Back', user_posts_path(current_user) %>
<% end %>